/* Variaveis css */
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */
body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;

}

/* Flexbox */
header .container{
    /* Padrão em linha */
   display: flex;
   flex-direction: row;
   align-items: center;

   /* Separar conteudos dentro do container */
   justify-content: space-between;   
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header a{
    text-decoration: none;
}

header nav a, .abrirModal{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
	margin-left: 2px;
}

header nav i{
	margin-right: 5px;
}

header nav .abrirModal:hover{
    color: #fff;
}

header nav a:hover{
    color: #fff;
}

/* Anime Principal */
.anime-principal{
    font-size: 1em;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50),rgba(0,0,0,.50)), url("https://images7.alphacoders.com/634/634228.jpg");
    height: 600px;

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


.anime-principal .descricao{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

.titulo{
    margin-top: 15%;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    background-color: rgba(0,0,0,.50);
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 1em;
    cursor: pointer;
    border: 0.5px solid white;
    transition: .3s ease all;
}

.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn i{
    margin-right: 10px;
}

.container{
    margin-left: 20px;
}

.anime-principal .container{
    width: 70%;
}
/* Anime principal */

/* carrossel de animes */
.box-anime{
    height: 300px;
    width: 100%;
    display: block;
}

.carrossel-anime{
    margin-top: 5px;
    width: 100%;
    margin: auto;   
}

.controls{
    background-color: rgba(0,0,0,.50);
    color: white;
    cursor: pointer;
    padding: 50px 15px;
    border: 0.5px solid white;
    transition: .3s ease all;
    /* margin-top: 5%; */
}

.owl-carousel .owl-nav{
    overflow: auto;
    height: 0px;
}

.owl-carousel .nav-btn{
      height: 50px;
      position: absolute;
      width: 20px;
      cursor: pointer;
      top: 100px;
      background-color: rgba(0,0,0,.50);
      color: white;
}

.owl-carousel .prev-slide{
    left: 5px;
}
.owl-carousel .next-slide{
    right: 5px;
}

.owl-carousel .prev-slide:hover{
     /* background-position: 0px -53px; */
     background-color: white;
     color: black;
     border: 2px solid black;
}
.owl-carousel .next-slide:hover{
    /* background-position: -24px -53px; */
    background-color: white;
    color: black;
    border: 2px solid black;
}

.titulo-carrossel{
    margin-top: 15px;
    margin-left: 5px;
}

.owl-carousel img{
    width: 500px;
}
/* carrossel animes */

/* rodapé */
footer .container{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   margin-top: 2%;
}

footer p{
    margin-top: 2%;
}

footer a, li{
    list-style: none;
    text-decoration: none;
    color: #AAA;
    text-align: center;
}

footer div div{
    margin-right: 5px;
}
/* rodapé */


/* personalização scrollbar */
::-webkit-scrollbar{
   width: 15px;
}

::-webkit-scrollbar-track{
    background-color: var(--preto);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 30px;
}
/* scrollbar */

/* modal */
.abrirModal{
    cursor: pointer;
}

.checkModal{
    display: none;
}

#modal:checked + .modalLogin{
    display:flex;
}

.modalLogin{
    display: none;
    position: absolute;
    left: 1px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modalLogin .fecharModal{
    position: absolute;
    top: 20%;
    right: 15%;
}

.modalLogin .fecharModal:hover{
    cursor: pointer;
    color: red;
}

.modalLogin .containerModal{
    width: 75%;
    height: 65%;
    background-color: var(--preto);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px white;
    overflow: auto;
    text-align: center;
    color: white;
}

.containerModal h3{
    margin: 10px 0px 10px 10px;    
    text-align: start;
}
.form-login h2{
    margin: 20px 10px;
}

.form-login div p a, .form-login a, .form-cadastro div a, .form-cadastro div label, .form-cadastro div p{
    text-decoration: none;
    color: white;
}

.form-login fieldset{
    border: 1px solid white;
    border-radius: 10px;
    margin: 12px;
    box-shadow: 1px 1px 1px white;
}

.form-login p, .form-cadastro p{
    margin: 10px;
}

.form-login #checks{
    margin-right: 50px;
}

.form-login input[type='checkbox']{
    width: 15px;
    position: relative;
    top: 7px;
}

.form-login input, .form-cadastro input{
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

.form-login .btnLogin, .form-cadastro .btnCadastrar{
    background: red;
    width: 100px;
    height: 50px;
    color:white;
    border: 2px solid white;
    border-radius: 5px;    
    font-size: 1em;
    margin: 10px;
}

.btnLogin:hover{
    background-color: black;
}

/* modal */

/* Tela cadastro */
div .containerCad{
    border-radius: 25px;
    margin-top: 20px;
    height: 320px;
    width: 100%;    
    font-family: Arial, Helvetica, sans-serif;
}

.containerCad .form-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCad h1{
    font-size: 2em;
    margin-bottom: 20px;
}


.form-cadastro div i, .form-login div i{
    cursor: pointer;
}

.form-cadastro label, .form-login label{
    font-size: 1.2em;
    width: 10px;
}

.btnCadastrar:hover{
    background-color: black;
}

::placeholder{
    color: white;
}

footer .rod{
    margin-top: 10%;
}
/* tela cadastro */